@import url("https://fonts.googleapis.com/css?family=Staatliches");

@import url("https://fonts.googleapis.com/css?family=Sanchez");

* {
  margin: 100;
  padding: 0;
  

  box-sizing: border-box;
  background-color: rgb(40, 101, 40);
  font-family: 'Sanchez';
}


.header {
    margin: 0 auto;
    display: block;
    
    
}
header {
    color:rgb(93, 154, 208);

}

h1 {
    color: rgb(220, 213, 15);
    text-align: center;
    font-family: 'Staatliches', sans-serif;

}

h2 {
text-align: center;
}

h3 {
    color: rgb(93, 154, 208);
}
img { margin: 0 auto;
    display: block
    
}
ul {
    color: rgb(224, 223, 211);
}
ol {
    color: rgb(220, 213, 15);
}

#logo{
    border-radius: 400px;
    border: 5px solid rgb(93, 154, 208);
    border
}

#Butlins {
    max-width: 40%;
    max-height: 40%;
    border-radius: 40px

}

#showreel {
    font-size:x-large;
    text-align: center;
    border-style: solid;
    border-color: rgb(220, 213, 15);
    color: rgb(243, 243, 243)
}